@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

/* Clear styling  */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Set Body styling */

body {
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    font-size: 16px;
    background-color: #7DDEFF;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.main-game-area {
    background-color: white;
    width: 710px;
    height: 580px;
    box-shadow: 0 10px 20px -5px rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    
}

h1{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 10vh;
    font-size: 40px;
    text-align: center;
    margin-top: 20px;
}
h3 {
    font-size: 30px;
    margin: 20px;
}

#result {
    font-size: 40px;
    text-align: center;
  }

  .user-choices, .computer-choices {
    display: flex;
    justify-content: space-around;
  }


  .fa-solid {
    font-size: 50px;
    margin-right: 40px;
  }

  #player .fa-solid,
  #player .choice {
    color: #3C4FFF;
    cursor: pointer;
  }
  
  #computer .fa-solid,
  #computer .choice {
    color: #C45FFE;
  }
  
  #player .fa-solid:last-of-type,
  #computer .fa-solid:last-of-type {
    margin-right: 0;
  }
  
  .selected {
    color: black !important;
  }

  #reset {
      margin: 30px;
  }

  /* Media Query: Large Smartphone (Vertical) */
@media screen and (max-width: 820px) {
    .main-game-area {
      width: 95%;
      height: 580px;
    }
  
    h1 {
      font-size: 30px;
    }
    h2 {
        min-height: auto;
        font-size: 30px;
    }
    h3 {
        font-size: 30px;
    }
  
    .fa-solid {
      margin-right: 20px;
    }
  
    #reset {
      margin-top: 35px;
      margin-left: 35px;
      
    }
  

  }
  
  /* Media Query: iPhone (Vertical) */
  @media screen and (max-width: 376px) {
    .main-game-area {
      height: 550px;
    }
  
    h1 {
      font-size: 28px;
    }
    h2 {
        font-size: 28px;
    }
    h3 {
        font-size: 28px;
        margin: 10px;
    }
    #result {
        font-size: 28px;
    }
  
    .fa-solid {
      font-size: 36px;
    }
  
    #reset {
      margin: 45px;
    }
  
  }
  
